<!DOCTYPE HTML>
<html lang="cz">

<head>
  <meta charset="utf-8">

  <title>Inzerát</title>


    <!-- Bootstrap Core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Formátování stránky -->
    <link href="../assets/css/4-col-portfolio.css" rel="stylesheet">


    <script src="../assets/js/jquery/jquery-1.11.3.min.js"></script>

    <script type="text/javascript" src="../assets/js/main_page/main_page.js"></script>

    <script src="../assets/js/bootstrap.min.js"></script>

    <script src="../js/inzerat.js"></script>
    <link href="../css/inzerat.css" rel="stylesheet">
</head>

<body>
<!--- modal-header, modal-body a modal-footer tvori strukturu PopUpu pomoci bootstrap -->
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>

  </div>

  <div class="modal-body">
      <h3>Stránka pro běžného uživatele</h3>

      <h1> <?php echo $nazev; ?> </h1>
      <br>

      <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="../images/lednicka1.jpg" width = "30%" height = "30%">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="../images/lednicka2.jpg" width = "10%" height = "10%">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="../images/lednicka3.jpg" width = "40%" height = "40%">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

      </div>


    <br>
    <br>


   <label for="popis">Popis</label>
     <textarea readonly class="form-control" rows="5" style="color: black; background-color: white">
Prodám ledničku značky Whirlpool BLF 8121 W. Je téměř nová, asi rok používaná, ale do strahovského pokoje moc velká. Má i velký mrazák.
      </textarea>




    <br>

<div class="input-group">
      <span class="input-group-addon" id="cena" style="width: 7em"><b>Cena</b></span>
      <input readonly type="text" class="form-control" placeholder="5000 Kč" aria-describedby="cena" id="cena_input" style="color: black; background-color: white">
</div>

  <br><br>

    <h4> Diskuze </h4>


        <label for="prispevek">Honza, 23. 11. 2015, 12:45</label>
        <textarea readonly class="form-control" rows="2" style="color: black; background-color: white">
Ta lednička se mi líbí.
        </textarea>



        <label for="prispevek">Vašek, 23. 11. 2015, 12:48</label>
        <textarea readonly class="form-control" rows="2" style="color: black; background-color: white">
Mně teda vůbec.
        </textarea>


 
        <label for="prispevek">Honza, 23. 11. 2015, 12:50</label>
        <textarea readonly class="form-control" rows="2" style="color: black; background-color: white">
Tak si ji nekupuj.
        </textarea>        




   <br><br>
   <h3> Stránka pro editaci </h3>
   <br>   
       <label for="nazev_inzeratu">Název inzerátu</label>
           <input class="form-control input-lg" type="text" id="nazev_inzeratu" placeholder="<?php echo $nazev ?>">
      <br>

      <div class="row carousel-holder">

        <div class="col-md-12">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
              <div class="carousel-inner">
                  <div class="item active">
                    <img class="slide-image" src="../images/lednicka1.jpg" width = "30%" height = "30%">
                  </div>
                  <div class="item">
                    <img class="slide-image" src="../images/lednicka2.jpg" width = "10%" height = "10%">
                  </div>
                  <div class="item">
                    <img class="slide-image" src="../images/lednicka3.jpg" width = "40%" height = "40%">
                  </div>
              </div>
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
          </div>
        </div>

      </div>

      <br>


      <div class="form-group">
        <label for="vlozObr">Vložit obrázek do galerie</label>
        <input type="file" id="vlozObr">
        <br>
        <button type="submit" class="btn btn-default">Vložit</button>
      </div>

    <br> <br>


          <label for="popis">Popis</label>
           <textarea class="form-control" rows="5">
Prodám ledničku značky Whirlpool BLF 8121 W. Je téměř nová, asi rok používaná, ale do strahovského pokoje moc velká. Má i velký mrazák.
        </textarea>

    <br>

<div class="input-group">
      <span class="input-group-addon" id="cena" style="width: 7em">Cena</span>
      <input type="text" class="form-control" placeholder="5000 Kč" aria-describedby="cena" id="cena_input">
</div>


    <br><br>

    <h4> Diskuze </h4>

    <br>

        <label for="prispevek">Honza, 23. 11. 2015, 12:45</label>
        <textarea readonly class="form-control" rows="2" style="background-color: white">
Ta lednička se mi líbí.
        </textarea>



        <label for="prispevek">Vašek, 23. 11. 2015, 12:48</label>
        <textarea readonly class="form-control" rows="2" style="background-color: white">
Mně teda vůbec.
        </textarea>


 
        <label for="prispevek">Honza, 23. 11. 2015, 12:50</label>
        <textarea readonly class="form-control" rows="2" style="background-color: white">
Tak si ji nekupuj.
        </textarea> 

  </div> <!-- modal-body -->

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" id="inzerat_save_and_close">Uložit a zavřít</button> 
    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
  </div>

</body>

</html>

