<!DOCTYPE HTML>
<html lang="cz">

<head>
  <meta charset="utf-8">
    <script src="js/inzerat.js"></script>
    <script src="assets/js/jquery.blueimp-gallery.min.js"></script>
    <script src="assets/js/bootstrap-image-gallery.js"></script>
    <link rel="stylesheet" href="assets/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-image-gallery.css">

    <style>
      ul {
        padding:0 0 0 0;
        margin:0 0 40px 0;
      }

      ul li {
        list-style:none;
        margin-bottom:10px;
      }

      .image_thumbnail{
        max-width:230px;
        max-height:95px;
        width: auto;
        height: auto;
      }

      .text_header{
        text-align: center;
        vertical-align: middle;
        margin-bottom: 0.65em;
      }

      h4 {
        margin-bottom: 1em;
      }
    </style>
  </meta>
</head>

<body>
<!--- modal-header, modal-body a modal-footer tvori strukturu PopUpu pomoci bootstrap -->
  {form inzerat}

  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      {if $user->isLoggedIn() && ($user->id == $autor_id || $inzerat->id == 0)}
        <h3 class="modal-title text_header">{if $inzerat->id == 0}Nový inzerát{else}Úprava inzerátu{/if}</h3>
        <div class="input-group col-xs-10">
          <span class="input-group-addon" style="width: 11em"><b>Název inzerátu:</b></span>
            {input title}
        </div>
      {else}
        <b><h3 class="modal-title" style="margin-bottom: 0.2em"><b>{$inzerat->title}</b><br> </h3></b>
        Publikoval: <b><a data-toggle="modal" n:href="Homepage:profile, $autor_id" data-target="#inzerat_profile_modal" style="padding: 0; outline: none;">{$autor_nickname}</a></b>
      {/if}
  </div>

  <div class="modal-body">
    {if $user->isLoggedIn() && ($user->id == $autor_id || $inzerat->id == 0)}
      <div class="input-group col-xs-6">
        <span class="input-group-addon" style="width: 11em"><b>Kategorie:</b></span>
        {input id_kategorie}
      </div>
    {else}
      Kategorie: <b>{$nazevKategorie}</b>
    {/if}

    <br />
    <br />

    <h4><b>Galerie</b></h4>
    {if $user->isLoggedIn() && ($user->id == $inzerat->id_user || $inzerat->id == 0)}
      <div class="input-group">
        <span class="input-group-addon" id="file" style="width: 7em"><b>Přiložené obrázky:</b></span>
        {input photo}
      </div>
    {/if}
      <!-- The container for the list of example images -->
      {if $inzerat->id != 0}
      {if $any_pictures == 0}
        Nejsou přiloženy žádné obrázky.
        <br />
        <br />
        <br />
      {/if}
      <div id="links">
        {foreach $pictures as $picture}
            <a href="images/{$picture->id}.{$picture->extension}" title="{$picture->name}" data-gallery>
              <img src="images/{$picture->id}.{$picture->extension}" alt="{$picture->name}" class="image_thumbnail">
            </a>
        {/foreach}
      </div>
      <br />
    {/if}
    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <br />
  <h4><b>Popis</b></h4>
  {if $user->isLoggedIn() && (($inzerat->id == 0) || ($user->id == $inzerat->id_user))}
      {input body}
  {else}
      {$inzerat->body}
  {/if}
  <br />
  <br />
  <br />
  <div class="input-group">
        <span class="input-group-addon" id="cena" style="width: 7em"><b>Cena</b></span>
          {if $user->isLoggedIn() && ($user->id == $autor_id || $inzerat->id == 0)}
              {input value}
          {else}
            <input readonly type="text" class="form-control" name="value" value="{$inzerat->value}"   style="color: black; background-color: white">
          {/if}
  </div>

  <div style="display:none">
    {input id_inzerat}
  </div>

  </div> <!-- modal-body -->

  <div class="modal-footer">
    {if $user->isLoggedIn() && ($user->id == $autor_id || $inzerat->id == 0)}
      {input send}
    {/if}
  </div>
{/form}

  <!-- PopUp pomoci bootstrap, naplni se to profile.latte -->
  <div id="inzerat_profile_modal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 600px;">
      <div class="modal-content">
      </div>
    </div>
  </div>

</body>

</html>
