<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <!--- <script src="assets/js/main_page/register.js" type="text/javascript"></script>-->
    <link href="css/register.css" rel="stylesheet">
</head>

<body>
  <!--- modal-header, modal-body a modal-footer tvori strukturu PopUpu pomoci bootstrap -->
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
	  <h4 class="modal-title"><b style="font-size:2em">registrace</b></h4>
	</div>
{form register}
	<div class="modal-body">
            <!-- vykreslení chyb -->
            <ul class="errors" n:if="$form->hasErrors()">
                <li n:foreach="$form->errors as $error">{$error}</li>
            </ul>
		<div class="input-group col-xs-10 col-sm-offset-1 mar-input">
		  <span class="input-group-addon" id="register_nickname" style="width: 7em">Nick</span>
		  {input username}
		</div>
		<div class="input-group col-xs-10 col-sm-offset-1 mar-input">
		  <span class="input-group-addon" id="register_password" style="width: 7em">heslo</span>
		  {input password}
		</div>
		<div class="input-group col-xs-10 col-sm-offset-1 mar-input">
		  <span class="input-group-addon" id="register_password2" style="width: 7em">o5 heslo</span>
		  {input repassword}
		</div>
	</div>

	<div class="modal-footer">
		{input send}<!-- akce po stisknutí tlačítka v RegisterFormFactory.php-->
	</div>
{/form}
</body>
</html>